.progress{
	margin-left:50px;
	margin-top:20px;
	display:inline-block;
}
progress{
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 550px;
	height: 20px;
	padding: 3px 3px 2px 3px;
	background: #333;
	background: -webkit-linear-gradient(#2d2d2d,#444);
	background: -moz-linear-gradient(#2d2d2d,#444);
	background: -o-linear-gradient(#2d2d2d,#444);
	background: linear-gradient(#2d2d2d,#444);
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 15px;
	box-shadow: 0 1px 0 rgba(255,255,255,.2);
}
.legende{
	width: 50px!important;
	margin-top:9px;
}

/* Style de la barre pour Firefox*/ 
progress::-moz-progress-bar{
	border-radius:10px;
	background: #27ae60;
	background: -moz-repeating-linear-gradient( 45deg, rgba(255,255,255,.2) 0, rgba(255,255,255,.2) 10px, rgba(255,255,255,0) 10px, rgba(255,255,255,0) 20px ), -moz-linear-gradient( rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 60% ), #27ae60;
	background: repeating-linear-gradient( 45deg, rgba(255,255,255,.2) 0, rgba(255,255,255,.2) 10px, rgba(255,255,255,0) 10px, rgba(255,255,255,0) 20px ), linear-gradient( rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 60% ), #27ae60;
	background-size: 550x 20px, auto, auto;
	background-position: -550px 0, top, top;
	background-position: top right, top, top;
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 -1px 0 rgba(0,0,0,.8) inset, 0 0 2px black;
}

progress::-webkit-progress-value{	
	border-radius:10px;
	background: #27ae60;
	background: -moz-repeating-linear-gradient( 45deg, rgba(255,255,255,.2) 0, rgba(255,255,255,.2) 10px, rgba(255,255,255,0) 10px, rgba(255,255,255,0) 20px ), -moz-linear-gradient( rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 60% ), #27ae60;
	background: repeating-linear-gradient( 45deg, rgba(255,255,255,.2) 0, rgba(255,255,255,.2) 10px, rgba(255,255,255,0) 10px, rgba(255,255,255,0) 20px ), linear-gradient( rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 60% ), #27ae60;
	background-size: 550x 20px, auto, auto;
	background-position: -550px 0, top, top;
	background-position: top right, top, top;
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 -1px 0 rgba(0,0,0,.8) inset, 0 0 2px black;}

/* Enlève la couleur d'arrière-plan */
progress::-webkit-progress-bar{
	background: transparent;
}

progress[value='100'] span{ width: 100%; } progress[value^='9']:not([value^='9.']):not([value='9']) span{ width: 95%; } progress[value^='8']:not([value^='8.']):not([value='8']) span{ width: 85%; } progress[value^='7']:not([value^='7.']):not([value='7']) span{ width: 75%; } progress[value^='6']:not([value^='6.']):not([value='6']) span{ width: 65%; } progress[value^='5']:not([value^='5.']):not([value='5']) span{ width: 55%; } progress[value^='4']:not([value^='4.']):not([value='4']) span{ width: 45%; } progress[value^='3']:not([value^='3.']):not([value='3']) span{ width: 35%; } progress[value^='2']:not([value^='2.']):not([value='2']) span{ width: 25%; } progress[value^='1']:not([value^='1.']):not([value='1']):not([value='100']) span{ width: 15%; }
.barre-sous-chap-g{
	float:left;width:80px;margin-top:17px;
}
.barre-sous-chap-d{
	margin-top:17px;
}
.texte-sous-chap{
	float:left;margin-left:10px;margin-right:10px;font-size:40px;
}
progress span{ -webkit-transition: width 1.6s linear; -moz-transition: width 1.6s linear; -o-transition: width 1.6s linear; transition: width 1.6s linear; }

.finish::-moz-progress-bar{
	background: #2980b9;
	border-radius:10px;
	background: -moz-repeating-linear-gradient( 45deg, rgba(255,255,255,.2) 0, rgba(255,255,255,.2) 10px, rgba(255,255,255,0) 10px, rgba(255,255,255,0) 20px ), -moz-linear-gradient( rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 60% ), #2980b9;
	background: repeating-linear-gradient( 45deg, rgba(255,255,255,.2) 0, rgba(255,255,255,.2) 10px, rgba(255,255,255,0) 10px, rgba(255,255,255,0) 20px ), linear-gradient( rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 60% ), #2980b9;
	background-size: 550x 20px, auto, auto;
	background-position: -550px 0, top, top;
	background-position: top right, top, top;
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 -1px 0 rgba(0,0,0,.8) inset, 0 0 2px black;

}
.finish::-webkit-progress-value{
	background: #2980b9;
	border-radius:10px;
	background: -moz-repeating-linear-gradient( 45deg, rgba(255,255,255,.2) 0, rgba(255,255,255,.2) 10px, rgba(255,255,255,0) 10px, rgba(255,255,255,0) 20px ), -moz-linear-gradient( rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 60% ), #2980b9;
	background: repeating-linear-gradient( 45deg, rgba(255,255,255,.2) 0, rgba(255,255,255,.2) 10px, rgba(255,255,255,0) 10px, rgba(255,255,255,0) 20px ), linear-gradient( rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 60% ), #2980b9;
	background-size: 550x 20px, auto, auto;
	background-position: -550px 0, top, top;
	background-position: top right, top, top;
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 -1px 0 rgba(0,0,0,.8) inset, 0 0 2px black;

}