.form{
	margin-left:15%;
}

input, textarea { 
		padding: 15px; 
		border: solid 1px #E5E5E5; 
		outline: 0; 
		font: Verdana, Tahoma, sans-serif; 
		width: 80%; 
		box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
		-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
		-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
		margin-top:10px;
		} 
		
		textarea { 
		height: 150px; 
		resize:none;
		font-family: Open Sans!important;
		} 
		input:focus, textarea:focus { 
		outline: none !important;
		border-color: #2980b9;
		box-shadow: 0 0 10px #3498db; 
		-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
		} 
		
		.form label { 
		margin-left: 10px; 
		
		} 

	.submit input { 
		margin-left:37%;
		width: auto; 
		padding: 9px 15px; 
		background: #2980b9; 
		border: 0; 
		font-size: 20px; 
		color: #FFFFFF; 
		border-radius: 5px; 
		}
		input[type="submit"]:hover{ 
		background: #27ae60;  
		transition: color 0.2s linear 0s;
			-moz-transition: all 0.3s ease-out;  
			-webkit-transition: all 0.3s ease-out;  
			transition: all 0.3s ease-out; 
			transform: scale(1.2);
		}
		input[type="submit"]{
		cursor:pointer;
		
	}
		/*input:invalid
{
    background-color: red;
}

input:invalid {
  background-color: #ffdddd;
}*/

.gauche{
	background-color: #195fad;
}
.milieu{
	background-color: #e4e4e4;
	
}
.milieu h3,.gauche h3,.droite h3{
	margin-top:12px;
	
}
.milieu2 h3{
	margin-top:8px;
}
.milieu h3{
	color:#00aced !important;
	
}
.droite h3{
	color:#ecb42e!important;
	font-size:20px!important;
}
.droite img{
	border: solid 1px #d6d6d6; 
}
.droite{
	background-color: #eaeaea;
}
.milieu2{
	background-color: #2ab200;
}
h3{
	text-align:center!important;
	font-size:25px!important;
}

.gauche, .droite, .milieu, .milieu2{
	width: 25%;
	float: left;
	overflow: hidden;
	padding-bottom: 25px;
	height:115px;
	border-top: solid 1px #d6d6d6; 
	border-bottom: solid 1px #d6d6d6; 
	box-shadow: rgba(255,255,255, 0.5) 0px 0px 5px; 
	-moz-box-shadow: rgba(255,255,255, 0.5) 0px 0px 5px; 
	-webkit-box-shadow: rgba(255,255,255, 0.5) 0px 0px 5px; 
}
.iconetop{
	width: 50px;
}

#googlemap{
	height: 200px;
	width: 100%;
	margin-bottom: -8px;
	border: medium none;
}

.chap{
	margin-left:5%;
	font-size:70px;
}